.popup{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: -100vh;
  opacity: 0;
  transition: opacity .5s ease-in ;
}
.popup_active{
  top: 0;
  opacity: 1;
}
.popup__content{
  padding: 80px 115px 40px ;
  position: relative;
  display: flex;
  background-color: #fff;
  border-radius: 76px;
  max-width: 807px;
  width: 100%;
  box-sizing: border-box;
}
.popup__close{
  position: absolute;
  right: -40px;
  top: -42px;
  opacity: 1;
}
