.todo-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #E1E1E1;
  border-radius: 28px;
  padding: 20px 45px 23px 45px;
  margin-bottom: 15px;
  transition: background-color 200ms ease-in;
  box-sizing: border-box;
}

.todo-item:last-child {
  margin: 0;
}

.todo-item__content {
  max-width: 95%;
  user-select: none;
}

.todo-item:hover .remove-btn {
  opacity: 1
}

.todo-item__title {
  font-size: 32px;
  line-height: 37px;
  font-weight: 500;
  margin: 0 0 25px 0;
  transition: color 200ms ease-in;
}

.todo-item__subtitle {
  font-size: 32px;
  line-height: 37px;
  font-weight: 300;
  transition: color 200ms ease-in;
  margin: 0;
}

.todo-item:hover {
  background-color: #FFCDCD;
}

.todo-item:hover .todo-item__title,
.todo-item:hover .todo-item__subtitle {
  color: #ff0000;
}
