@import "__submit-btn/form__submit-btn.css";
@import "__input/form__input.css";
@import "__textarea/form__textarea.css";
@import "form__label/form__label.css";
@import "form-field/form-field.css";

.form{
  width: 100%;
}

.form__required{
  color: #257189;
}

.form__input{
  display: flex;
  flex-direction: column;
  margin-bottom: 53px;
}

.error{
  position: absolute;
  bottom: -20px;
  color: #ff0000
}