.form__input-task{
  width: 100%;
  max-height: 64px;
  padding: 20px 16px 18px;
  background-color: #EFEFEF;
  border: 2px solid transparent;
  color: #000000;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  box-sizing: border-box;
  outline: none;
}
.form__input-task::placeholder{
  font-weight: 300;
  color: #B7B7B7;
  font-size: 18px;
  line-height: 21px;
}
.form__input-task:focus{
  border-color: #6CB1D8;
}
